
body {
    padding: 0px;
    margin: 0px;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    background-color: hsl(0, 0%, 8%);
    color: white;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

._navbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: hsl(0, 0%, 19%);
    min-width: 200px;
}

._content {
    flex-grow: 100;
    margin: 0;
    padding: 0.5rem;
    overflow-y: scroll;
}

@media only screen and (max-width: 800px) {
    ._navbar {
        flex-grow: 100;
    }

    ._content {
        flex: 1;
    }

    body {
        font-size: 18px;
    }
}

@media only screen and (min-width: 801px) {
    body {
        font-size: 14px;
    }
}

._divider {
    width: 20px;
    min-width: 20px;
    cursor: pointer;
    background-color: hsl(0, 0%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00A0B0;
}

._menuToggler {
    position: fixed;
    left: 15px;
    top: 15px;
    opacity: 0.8;
}

._menuToggler:hover {
    opacity: 1.0;
}

._menuToggler svg {
    fill: hsl(0, 0%, 19%);
}

._wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

._menu {
    background: #303030;
    color: #C0FF00;
}

._menuTop {
    color: #C0FF00;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

#_theMenu {
    padding-left: 5px;
}

._svgButton {
    text-align: center;
    cursor: pointer;
}

._opaque {
    animation: fade-in 0.6s;
}

._hidden {
    display: none;
}

._unopaque {
    animation: fade-out 0.6s;
}

._sortingBorder {
    border-style: solid;
    border-width: 1px;
}

svg {
    stroke: currentColor;
    stroke-width: 4;
    fill: none;
}

._swell {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

._swell:hover {
    transform: scale(1.2);
}

p {
    margin: 0px;
}

#_loginDiv {
    margin: 190px;
}

#_loginShow {
    margin-left: 190px;
    color: #A0A0FF;
    cursor: pointer;

}

#_loginHide {
    margin-left: 190px;
    color: #A0A0FF;
    cursor: pointer;
}

._articleTitle h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 10px;
}

._articleTitle h3 {
    text-align: center;
    color: white;
    padding: 10px;
}

._articleBody {
    color: white;
    padding: 10px;
}

a {
    color: #00A0B0;
}

code {
    color: hsl(0, 0, 80%);
    font-size: 1rem;
}

._code-block {
    white-space: pre;
    font-family: monospace;
    margin-left: 20px;
    width: 90%;
    padding: 10px;
    border: 1px solid green;
    background-color: hsl(0, 0%, 19%);
}

._comment {
    color: #006000;
}

._reserved {
    color: #000060;
}

._footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

._basePage {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

._notFound {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

#_notFoundImg {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
}
